<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dot Dot Dot</title>
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>
    <div id="large-screen-flex">
        <div class="flexbox">
            <div class="dot"><a href="art">art</a></div>
            <div class="dot"><a href="add">add</a></div>
            <div class="dot"><a href="about">about</a></div>
        </div>
    

    <main>
        <h1>Hello!</h1>
        <p>This web app is a collaborative pixel art experience that allows you to express yourself in one color, one dot at a time.</p>
        <p>Designed by <a href="https://www.linkedin.com/in/rebecca-riffle/">Rebecca Riffle</a> during SDEV 305, Web Development Frameworks course at <a href="https://www.greenriver.edu/students/academics/degrees-programs/bachelor-of-applied-science/bachelors-in-software-development/index.html">Green River College</a>.</p>
        <p>Follow me on <a href="https://github.com/rifflere">GitHub</a> to see more of my creative projects.</p>
    </main>
    
</body>
<footer>
    <p><a href="/"> dot dot dot &copy;</a></p>
</footer>
</html>