<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dot Dot Dot</title>
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>
    <div id="large-screen-flex">
        <div class="flexbox">
            <div class="dot"><a href="art">art</a></div>
            <div class="dot"><a href="add">add</a></div>
            <div class="dot"><a href="about">about</a></div>
        </div>
    </div>
    <main>
        <h1>dot dot dot</h1>

        <h2>AWESOME! You just added <%=displayData.color%> to <%=displayData.box%>.</h2>

        <a href="art">See art</a>
        <br>
        <a href="/">Add color</a>
    </main>
</body>
<footer>
    <p><a href="/">dot dot dot &copy;</a></p>
</footer>
</html>